#premier{
    margin-left: 3px !important;
    margin-right: 3px !important;
    padding:5px 10px !important;
}
#laliga{
    margin-left: 3px !important;
    margin-right: 3px !important;
    padding: 5px 10px !important;
}

#ligue1{
    margin-left:3px !important;
    margin-right: 3px !important;
    padding: 5px 10px !important;
}

#seriaa{
    margin-left: 3px !important;
    margin-right: 3px !important;
    padding:5px 10px !important;
}

#bundesliga{
    margin-left: 3px !important;
    margin-right: 3px !important;
    padding: 5px 10px !important;
}
